<HowToPopup>
    <ol class="steps">
        <li>
            Maak in Telegram een nieuwe chatgroep aan (FS Plaatsnaam Bot Orga)
        </li>
        <li>
            Maak van de groep een supergroep door de history aan te zetten.
            <ZoomableImage Src="images/howto/botinrichten-step1.png"
                           Alt="Stap 2"
                           CssClass="howto-img"
                           Caption="Stap 2: supergroep maken" />
        </li>
        <li>
            Ga naar @@BotFather en maak hier een nieuwe bot aan met het “/newbot” commando en geef antwoord op alle vragen
            <ZoomableImage Src="images/howto/botinrichten-step2.png"
                           Alt="Stap 3"
                           CssClass="howto-img"
                           Caption="Stap 3: nieuwe bot maken" />
        </li>
        <li>
            Voeg de bot die door BotFather is aangemaakt als member toe in de chatgroep die je in stap 1 hebt aangemaakt.
        </li>
        <li>
            Ga naar @@IFS_Manager_bot en maak daar een nieuw event aan
            <ZoomableImage Src="images/howto/botinrichten-step3.png"
                           Alt="Stap 5"
                           CssClass="howto-img"
                           Caption="Stap 5: nieuw event aanmaken" />
        </li>
        <li>
            In de chat die je in stap 1. hebt aangemaakt zie je een bericht dat je moet pinnen, zodat je, als tijdens de FS de botberichten binnenstromen, je de management tools makkelijk terug kunt vinden.
            <ZoomableImage Src="images/howto/botinrichten-step4.png"
                           Alt="Stap 6"
                           CssClass="howto-img"
                           Caption="Stap 6: bot beheerinfo pinnen" />
        </li>
        <li>
            Ga naar de link voor de Bot Management website die staat in het bericht dat je zojuist hebt gepind.
        </li>
        <li>
            Klik op de rode link bovenin die zegt dat nog niet alle settings goed staan.
            <ZoomableImage Src="images/howto/botinrichten-step5.png"
                           Alt="Stap 8"
                           CssClass="howto-img"
                           Caption="Stap 8: ga naar instellingen" />
        </li>
        <li>
            Vul op deze pagina alle gegevens in en sla ze op.
            <ZoomableImage Src="images/howto/botinrichten-step6.png"
                           Alt="Stap 9"
                           CssClass="howto-img"
                           Caption="Stap 9: vul instellingen goed in" />
        </li>
        <li>
            Sluit de bot zodat deze niet kan worden aangeroepen totdat het event begint. Klik hiervoor op de blauwe knop rechtsbovenin waar “OPEN” staat en kies voor “CLOSED BEFORE”
            <ZoomableImage Src="images/howto/botinrichten-step7.png"
                           Alt="Stap 10"
                           CssClass="howto-img"
                           Caption="Stap 10: bot sluiten" />
        </li>
    </ol>
</HowToPopup>

@code {

}
