<HowToPopup Note="Doe dit op de laptop!">
    <ol class="steps">
        <li>
            Ga naar
            <a href="https://fevgames.net/ingressfs/auto-score-sheet/" target="_blank" rel="noopener noreferrer">
                de autoscore sheet
            </a>
            en maak een kopie.
            <br /><br />
            <ZoomableImage 
                Src="images/howto/fevgames-step1.png"
                Alt="Stap 1"
                CssClass="howto-img"
                Caption="Stap 1: kopie maken autoscoresheet" 
            />
        </li>
        <li>
            Hernoem de sheet. Haal “kopie van” weg en zet je plaatnaam erin bijvoorbeeld.
            <br /><br />
            <ZoomableImage 
                Src="images/howto/fevgames-step2.png"
                Alt="Stap 2"
                CssClass="howto-img  howto-img--small"
                Caption="Stap 2: sheet hernoemen" 
            />
        </li>
        <li>
            Deel de sheet met iedereen.  Zet de rechten op “Iedereen met link kan inzien”.
            <br /><br />
            <ZoomableImage 
                Src="images/howto/fevgames-step3.png"
                Alt="Stap 3"
                CssClass="howto-img"
                Caption="Stap 3: Sheet delen met iedereen" 
            />
        </li>
    </ol>
</HowToPopup>

@code {

}
