<HowToPopup Note="Doe dit op de laptop!">
    <ol class="steps">
        <li>
            Ga naar
            <a href="https://fevgames.net/ingressfs/auto-score-sheet/" target="_blank" rel="noopener noreferrer">
                de autoscore sheet
            </a>
            en maak een kopie.
            <img class="howto-img" src="images/howto/fevgames-step1.png" />
        </li>

        <li>
            Hernoem de sheet. Haal “kopie van” weg en zet je plaatnaam erin bijvoorbeeld.
            <img class="howto-img howto-img--small" src="images/howto/fevgames-step2.png" />
        </li>

        <li>
            Deel de sheet: “Iedereen met link kan inzien”.
            <img class="howto-img" src="images/howto/fevgames-step3.png" />
        </li>
    </ol>
</HowToPopup>

@code {

}
