<HowToPopup>
    <ol class="steps">
        <li>
            Maak in Telegram een nieuw Infokanaal (FS Plaatsnaam Info)
        </li>
        <li>
            Ga naar de instellingen van het kanaal, zoek “Discussion” en klik op “Add” om een chat groep aan het kanaal te koppelen
            <img class="howto-img" src="images/howto/telegramchats-step1.png"/>
        </li>
        <li>
            Maak een nieuwe Telegram groep (FS Plaatsnaam Decoding) aan voor de mensen die willen helpen met het oplossen van de passcode.
        </li>
        <li>
            Optioneel: Als er meer dan 2 mensen bij de orga betrokken zijn kan het handig zijn hiervoor een orga chatgroep aan te maken.
        </li>
        <li>
            Optioneel: Geef alle groepen en het kanaal leuke bij elkaar passende plaatjes die gerelateerd zijn aan de plaats waar de FS gehouden wordt, dat maakt ze makkelijker vindbaar voor de mensen.
        </li>
    </ol>
</HowToPopup>

@code {

}
