<div class="navigation-container">
    <nav class="navbar">
        <ul>
            <li><a href="/postcovid">Locaties</a></li>
            <li><a href="/postcovidnumbers">Numbersssss</a></li>
        </ul>
    </nav>
</div>



@code {
    [Parameter] public string CurrentPage { get; set; }
}
