body {
}
.dash-table {
    border-radius: 14px;
    overflow: hidden;
}

.dash-table__table-wrapper {
    overflow-x: auto;
}

.dash-table__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

    .dash-table__table ::deep th,
    .dash-table__table ::deep td {
        padding: 10px 12px;
        font-size: 0.92rem;
        vertical-align: top;
        border-bottom: 1px solid #eef0f3;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dash-table__table ::deep th {
        background: #f9fafb;
        font-weight: 700;
    }

    .dash-table__table ::deep tbody tr:nth-child(even) {
        background: #fcfcfd;
    }



.dash-table__header {
    padding: 10px 12px;
    color: #111827;
    font-weight: 800;
    border-bottom: 1px solid rgba(0,0,0,.08);
}
.dash-table__footer {
    padding: 10px 12px;
    color: #111827;
    font-weight: 800;
    border-top: 1px solid rgba(0,0,0,.08);
}


.dash-table__title {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.header--light-gray {
    background-color: lightgray;
    color: black;
}
.header--red {
    background: red;
    color: white;
}
.header--yellow {
    background-color: yellow;
    color: black;
}
.header--green {
    background-color: green;
    color: white;
}
.header--blue {
    background-color: #3b82f6;
    color: white;
}

::deep .cell--enl-win {
    background-color: rgba(0, 200, 0, 0.15);
/*    font-weight: 600;*/
}
::deep .cell--res-win {
    background-color: rgba(0, 100, 255, 0.15);
/*    font-weight: 600;*/
}

::deep .row--totals {
    font-weight: 800;
}

::deep .cell--totals {
    border-top: 1px solid black;
}