body {
}
.page-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.column-header {
    text-align: center;
    color: black;
    padding: 5px;
    font-size: 150%;
    margin: 5px;
}
.column-header--required {
    background-color: var(--color-blue);
}
.column-header--optional {
    background-color: var(--color-green);
}

.nav-column {
    grid-column: 1/3;
    background-color: var(--color-grey);
}

.page-column {
}

.page-column--required {
}

.page-column--optional {
}