<div class="navigation-container">    
    <nav class="navbar">
        <ul>
            <li><a href="/preparation">Voorbereiding</a></li>
            <li><a href="/fsday">Dag van FS</a></li>
            <li><a href="/aftercare">Nazorg</a></li>
        </ul>
    </nav>
</div>



@code {
    [Parameter] public string CurrentPage { get; set; }

}
