body {
    margin: 0px;
}

.navigation-container{
    width: 100%;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    background-color: var(--color-grey);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}
    .navbar a:hover {
        background-color: hsl(0, 3%, 13%);
    }

.navbar li{
    float: left;
}