body {
    font-family: Verdana;
}

.step-card {
    width: 95%;
    border: 1px solid black;
    background-color: #8ea3bb;
    padding: 10px;
    display: grid;
    grid-template-columns: 70px auto 50px;
    border-radius: 25px;
    align-items: center;
    justify-items: center;
}

.step-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: hotpink;
    -webkit-mask: var(--icon-url) no-repeat center / contain;
    mask: var(--icon-url) no-repeat center / contain;
}

.popup-background {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.popup-content {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    max-width: 520px;
    width: calc(100% - 2rem);
    z-index: 51;
}
