@*Website: https://dev.to/madsstoumann/mobile-to-desktop-menu-in-2-lines-of-css-4ikn *@

<header class="menu-wrapper">
    <a href="/" class="menu-home">
        <img class="logo" src="images/fs-xf.png" />
    </a>
    <label class="menu-toggle-label" aria-label="Toggle flyout menu">
        <input type="checkbox" class="menu-toggle">
    </label>
    <div class="menu-flyout">
        <nav class="menu-main">
            <a href="/fsinnl">FS in NL</a>
            <a href="/preparation">Hoe FS organiseren?</a>
            <a href="/telegram">Telegram groepen</a>
            <a href="/whereisfs">Waar is de FS?</a>
            <a href="/fotos">Groepfoto's</a>
        </nav>
    </div>
</header>

@code {

}
