@page "/fotos"
@inject HttpClient HttpClient


<div class="fotos">
    @foreach (var photo in Photos) {
        <FSPhoto PhotoName="@photo" />
    }
</div>


@code {
    private List<string> Photos = [];

    protected override async Task OnInitializedAsync() {
        // Photos = await HttpClient.GetFromJsonAsync<List<string>>("files/fsphotos.json") ?? [];

        Photos = (await HttpClient.GetFromJsonAsync<List<string>>(
            "files/fsphotos.json"))?
         .OrderByDescending(p => p)
         .ToList()
         ?? [];
    }
}
