@page "/fotos"

<h3>FS Foto's</h3>

<div class="fotos">
    <FSPhoto PhotoName="2026-01-Amsterdam.png" />
    <FSPhoto PhotoName="2025-12-Leusden.jpg" />
    <FSPhoto PhotoName="2025-11-IJsselstein.jpg" />
    <FSPhoto PhotoName="2025-10-Nijmegen.jpg" />
    <FSPhoto PhotoName="2025-08-Vught.jpg" />
    <FSPhoto PhotoName="2025-06-Schijndel.jpg" />
    <FSPhoto PhotoName="2025-05-Alkmaar.jpg" />
    <FSPhoto PhotoName="2025-02-Deventer.jpg" />
    <FSPhoto PhotoName="2025-01-Nijverdal.jpg" />
    <FSPhoto PhotoName="2024-12-Maastricht.jpg" />
    <FSPhoto PhotoName="2024-10-Apeldoorn.jpg" />
    <FSPhoto PhotoName="2024-07-Harderwijk.jpg" />
</div>


@code {

}
