@page "/fotos"

<h3>FS Foto's</h3>

<div class="fotos">
    <FSPhoto PhotoName="2026-01-Amsterdam.png" />
    <FSPhoto PhotoName="2025-12-Leusden.jpg" />
    <FSPhoto PhotoName="2025-11-IJsselstein.jpg" />
    <FSPhoto PhotoName="2025-10-Nijmegen.jpg" />
    <FSPhoto PhotoName="2025-06-Schijndel.jpg" />
</div>


@code {

}
