@page "/precovid"
@using FirstSaturdayOrga.Contracts
@using FirstSaturdayOrga.Data
@using FirstSaturdayOrga.Services.App
@inject DashboardService DashboardService

<h3>FsInNl Pre-Covid</h3>

<LocationDashboard Title="First Saturdays in Nederland Pre-Covid" FSEvents="@_fsEvents" Markers="@_markers" />

@code {
    private List<FSEventListItem> _event2015 = [];
    private List<FSEventListItem> _event2016 = [];
    private List<FSEventListItem> _event2019 = [];
    private List<FSEventListItem> _event2020 = [];

    private List<RenderMapMarker> _markers = [];

    private Dictionary<int, List<FSEventListItem>> _fsEvents = new Dictionary<int, List<FSEventListItem>>();

    protected override async Task OnInitializedAsync() {
        _event2015 = await DashboardService.GetAllEventsForYearAsync(2015);
        _event2016 = await DashboardService.GetAllEventsForYearAsync(2016);
        _event2019 = await DashboardService.GetAllEventsForYearAsync(2019);
        _event2020 = await DashboardService.GetAllEventsForYearAsync(2020);

        _fsEvents.Add(2015, _event2015);
        _fsEvents.Add(2020, _event2020);
        _fsEvents.Add(2016, _event2016);
        _fsEvents.Add(2019, _event2019);

        _markers = await DashboardService.GetAllEventMapMarkersAsync(true);
    }
}
