@page "/postcovid"

@using FirstSaturdayOrga.Contracts
@inject FirstSaturdayOrga.Services.DashboardService DashboardService

<PostCovidNavigation />
<h3>FsInNlPostCovid</h3>

<div class="dashboard dashboard--post">
    <div class="dashboard-grid dashboard-grid--post">

        <section class="card map-card">
            <div class="card-title">Map</div>
            <img class="map-img" src="images/fsinnl/post-covid.png" alt="Map" />
        </section>

        <section class="tables">
            <div class="tables-col left">
                <section class="card table-card y2023">
                    <EventLocationsDashboardTable Year="2023" FSEvents="@event2023" HeaderColor="HeaderColor.Red" />
                </section>

                <section class="card table-card y20240">
                    <EventLocationsDashboardTable Year="2024" FSEvents="@event2024" HeaderColor="HeaderColor.Blue" />
                </section>
            </div>

            <div class="tables-col right">
                <section class="card table-card y2025">
                    <EventLocationsDashboardTable Year="2025" FSEvents="@event2025" HeaderColor="HeaderColor.Yellow" />
                </section>

                <section class="card table-card y2026">
                    <EventLocationsDashboardTable Year="2026" FSEvents="@event2026" HeaderColor="HeaderColor.Green" />
                </section>
            </div>
        </section>


    </div>
</div>

@code {
    private List<FSEventListItem> event2023 = [];
    private List<FSEventListItem> event2024 = [];
    private List<FSEventListItem> event2025 = [];
    private List<FSEventListItem> event2026 = [];

    protected override async Task OnInitializedAsync() {
        event2023 = await DashboardService.GetAllEventsForYearAsync(2023);
        event2024 = await DashboardService.GetAllEventsForYearAsync(2024);
        event2025 = await DashboardService.GetAllEventsForYearAsync(2025);
        event2026 = await DashboardService.GetAllEventsForYearAsync(2026);
    }
}
