@page "/postcovid"

@using FirstSaturdayOrga.Contracts
@using FirstSaturdayOrga.Services.App
@inject DashboardService DashboardService

<PostCovidNavigation />
<h3>FsInNlPostCovid</h3>

<LocationDashboard FSEvents="@_fsEvents" Markers="@_markers" />

@code {
    private List<FSEventListItem> _event2023 = [];
    private List<FSEventListItem> _event2024 = [];
    private List<FSEventListItem> _event2025 = [];
    private List<FSEventListItem> _event2026 = [];
    private List<RenderMapMarker> _markers = [];

    private Dictionary<int, List<FSEventListItem>> _fsEvents = new Dictionary<int, List<FSEventListItem>>();

    protected override async Task OnInitializedAsync() {

        _event2023 = await DashboardService.GetAllEventsForYearAsync(2023);
        _event2024 = await DashboardService.GetAllEventsForYearAsync(2024);
        _event2025 = await DashboardService.GetAllEventsForYearAsync(2025);
        _event2026 = await DashboardService.GetAllEventsForYearAsync(2026);

        _fsEvents.Add(2023, _event2023);
        _fsEvents.Add(2024, _event2024);
        _fsEvents.Add(2025, _event2025);
        _fsEvents.Add(2026, _event2026);

        _markers = await DashboardService.GetAllEventMapMarkersAsync(false);
    }
}
