@page "/postcovidnumbers"
@using FirstSaturdayOrga.Contracts
@using FirstSaturdayOrga.Services.App
@inject DashboardService DashboardService


<PostCovidNavigation />

<div class="dashboard">
    <div class="dashboard-grid">
        <EventLocationsDashboardTable Title="Alle FS-en Post-Covid" FSEvents="@_events" HeaderColor="@HeaderColor.LightGray" ShowHeaders="true"/>
        <EventNumberOfAgentsDashboardTable FSEvents="@_eventNumbers" HeaderColor="HeaderColor.LightGray" />
        <EventNumberOfApDashboardTable FSEvents="@_eventNumbers" HeaderColor="HeaderColor.LightGray" />
    </div>
</div>

@code {
    private IReadOnlyList<FSEventNumbersListItem> _eventNumbers = [];
    private IReadOnlyList<FSEventListItem> _events = [];

    protected override async Task OnInitializedAsync() {
        _eventNumbers = await DashboardService.GetAllPostCovidEventNumbersAsync();
        _events = await DashboardService.GetAllPostCovidEventsAsync();
    }
}
