@page "/"




<h1>Welkom op de FS NL website!</h1>

<p>Op deze website vind je alle info met betrekking tot de Nederlandse FS-en. Welke FS-en zijn er al geweest? Welke gaan er nog komen?</p>

<p>Groepsfoto's van alle FS'en die we al hebben gehad kan je hier vinden. En we hebben een handig stappenplan voor mensen die een FS willen organiseren maar niet goed weten hoe dat moet.</p>
