@page "/"


<div class="page-content">
    <h1>Welkom op de FS NL website!</h1>

    <p>
        Op deze website vind je alle info met betrekking tot de Nederlandse FS-en.
        Welke FS-en zijn er al geweest? Welke gaan er nog komen?
    </p>
    <p>
        Wil je zelf een FS organiseren? Op deze site staat tot in detail uitgelegd hoe dat moet. 
        Geen excuses meer, iedereen kan een FS organiseren!
    </p>
    <p>
        Ingress First Saturday bestaat al sinds 2014. Vooral informatie over de oudere FS-en is lastig aan te komen.
        Dus mocht je informatie tegen komen die niet klopt, of zien dat er dingen ontbreken, trek vooral aan de bel!
    </p>
    <p>
        Samen kunnen we deze site steeds beter maken.
        <span class="heart-icon heart-icon--green"
              style="--icon-url: url('@($"../icons/heart.svg")');">
        </span>
        <span class="heart-icon heart-icon--blue"
              style="--icon-url: url('@($"../icons/heart.svg")');">
        </span>
    </p>
    
</div>

