@page "/preparation"


<h3>Preparation</h3>
<StepCard Title="Registreren bij FevGames" MoreInfo="Zo moet je registreren" IconName="fevgames"/>
<StepCard Title="Locatie regelen" MoreInfo="Zo moet je locatie regelen" IconName="beer" />


@code {
}
